<section class="section-tabs-editorcode" (wheel)="onMouseWheel($event)">
    <div class="tabs-container" #tabs>
        <div class="tab">
            <a class="tab-file">
                <span class="name-file">fileasdf 1</span>
                <span class="badge-save">*</span>
                <button class="btn btn-sm btn-close-tab">X</button>
            </a>
        </div>
        <div class="tab tab-selected">
            <a class="tab-file">
                <span class="name-file">fileasdf 2</span>
                <!-- <span class="badge-save">*</span> -->
                <button class="btn btn-sm btn-close-tab">X</button>
            </a>
        </div>
        <div class="tab">
            <a class="tab-file">
                <span class="name-file">fileddf 1</span>
                <!-- <span class="badge-save">*</span> -->
                <button class="btn btn-sm btn-close-tab">X</button>
            </a>
        </div>
        <div class="tab">
            <a class="tab-file">
                <span class="name-file">filefdfd 2</span>
                <span class="badge-save">*</span>
                <button class="btn btn-sm btn-close-tab">X</button>
            </a>
        </div>
        <div class="tab">
            <a class="tab-file">
                <span class="name-file">fileasas 1</span>
                <span class="badge-save">*</span>
                <button class="btn btn-sm btn-close-tab">X</button>
            </a>
        </div>
        <div class="tab">
            <a class="tab-file">
                <span class="name-file">filef asd asdfa 2</span>
                <span class="badge-save">*</span>
                <button class="btn btn-sm btn-close-tab">X</button>
            </a>
        </div>
    </div>
</section>