<section class="section-tabs-editorcode" (wheel)="onMouseWheel($event)" *ngIf="listTabs && listTabs.length>0">
    <div class="tabs-container" #tabs>
        <ng-container *ngFor="let item of listTabs; let i = index" >
            <div class="tab tab-selected" [class.tab-selected]="item.selected" (click)="setSelecteNode(i)">
                <a class="tab-file" >
                    <span class="name-file">{{item.name}}</span>
                    <span class="badge-save" *ngIf="item.update">*</span>
                    <button class="btn btn-sm btn-close-tab">X</button>
                </a>
            </div>
        </ng-container>
        <!-- <div class="tab">
            <a class="tab-file">
                <span class="name-file">fileasdf 1</span>
                <span class="badge-save">*</span>
                <button class="btn btn-sm btn-close-tab">X</button>
            </a>
        </div>
        <div class="tab tab-selected">
            <a class="tab-file">
                <span class="name-file">fileasdf 2</span>
                <button class="btn btn-sm btn-close-tab">X</button>
            </a>
        </div> -->
    </div>
</section>