<section class="wrapper-tree-directory">
    <div class="top-tree">
        <!-- Aqui los botones de opciones de crear archivo, carpeta, etc -->
    </div>
    <div class="tree-directory scrolling-mode">
        <!-- Aqui el arbol de directorios -->
        <div *ngIf="projectsNow" class="container-directories">
                <app-child-directory *ngIf="projectsNow.typeNode=='root'" [data]="projectsNow"></app-child-directory>
        </div>
    </div>
    <div class="footer-tree">
        <!-- El footer del directorybar si es necesario-->
    </div>
</section>



<app-modal [isShowModal]="isOpen" [titleModal]="'Programa de Ejecucion'" (closeModalMsg)="receiveCloseModal($event)" #modalChild>
    <div class="container">
        <h3 class="my-2">Se encontraron multiples Main, elije uno:</h3>
        <div class="card">
            <div class="card-body">
                <div class="row content-list-projects scrolling-mode">
                    <ul class="list-projects col-12 p-0">
                        <ng-container *ngFor="let item of listMains; let i = index">
                            <li (dblclick)="sendMain(i, modalChild)" class="">
                                <label>{{"main"}} => {{item.packageNode.path}}{{item.isClass? "."+item.nameClass:""}}</label>
                            </li>
                        </ng-container>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</app-modal>

<app-modal [isShowModal]="isOpenError" [titleModal]="'Programa de Ejecucion'" (closeModalMsg)="receiveCloseModal($event)" #modalError>
    <div class="container">
        <h3 class="my-2">Ocurrio algun Error:</h3>
        <div class="card">
            <div class="card-body">
                <div class="row content-list-projects scrolling-mode">
                    {{msgError}}
                </div>
            </div>
        </div>
    </div>
</app-modal>